<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!--Custom Filters  in Angular -->

<!-- Here we are mapping Gender values like this 1=Gender,2=Female ,3=Not Disclosed -->

<script type="text/javascript" src="../angularjs/angular.min.js"></script>
<script type="text/javascript" src="../js/custom-filters.js"></script>
<link rel="stylesheet" type="text/css" href="../css/styles.css">

</head>
<body ng-app="myApp" ng-controller="myCtrl" style="font-family: sans-serif;">

	<div>
		<table border="1" style="border-bottom-color: graytext;">
			<thead style="background-color: fuchsia;">
				<tr>
				    <th>Name</th>
					<th>Gender</th>
					<th>Salary(Currency)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="employee in employees">
					<td>{{employee.name}}</td>
					<td>{{employee.gender |genderFilter }}</td>
					<td>{{employee.salary}}</td>
				</tr>
			</tbody>
	</div>
	<br/>
	<div>
		<ul>
			<li ng-repeat="country in countries">{{country.country}}
				<ul>
					<li ng-repeat="city in country.cities">{{city.name}}</li>
				</ul>
			</li>
		</ul>

	</div>
</body>
</html>